{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="row">
		<div class="col-2"></div>
		<div class="col">
			<h1>Run</h1>
		    <form method="POST" enctype="multipart/form-data">
		        {% csrf_token %}
		        <fieldset class="form-group">
		                {{ m_form|crispy }}
		        </fieldset>
		        <div class="form-group">
		                <button class="btn btn-primary" type="submit">Run</button>
		        </div>
		    </form>
		</div>
		<div class="col-2"></div>
	</div>
	<div class="row">
		<div class="col">
			<h1>Queue</h1>
		</div>
	</div>
{% endblock content %}
